Repository projekt-opal/dcat-qa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-nginx-docker, build-qasystem-docker, build-sninterface-botkit-twitter-docker, build-sninterface-botkit-web-docker

build-nginx-docker:
  stage: build-docker
  needs: []
  before_script:
  - cd nginx-config
  - export VERSION=$(cat version.txt)
  - docker login -u martenls -p $DOCKER_REGISTRY_TOKEN $CI_REGISTRY
  script:
  ...

build-qasystem-docker:
  stage: build-docker
  needs:
  - job: test-qasystem
    artifacts: true
  before_script:
  - cd dcat-qa-system
  - export VERSION=$(cat version.txt)
  - docker login -u martenls -p $DOCKER_REGISTRY_TOKEN $CI_REGISTRY
  script:
  ...

build-sninterface-botkit-twitter-docker:
  stage: build-docker
  needs: []
  before_script:
  - cd sninterface-botkit/twitter-bot
  - export VERSION=$(cat version.txt)
  - docker login -u martenls -p $DOCKER_REGISTRY_TOKEN $CI_REGISTRY
  script:
  ...

build-sninterface-botkit-web-docker:
  stage: build-docker
  needs: []
  before_script:
  - cd sninterface-botkit/web-bot
  - export VERSION=$(cat version.txt)
  - docker login -u martenls -p $DOCKER_REGISTRY_TOKEN $CI_REGISTRY
  script:
  ...

web-bot: fix handling of ask queries
  sninterface-botkit/web-bot/bot.js
  sninterface-botkit/web-bot/features/qa_dialog.js
  sninterface-botkit/web-bot/i18n/de.json
  sninterface-botkit/web-bot/i18n/en.json
  sninterface-botkit/web-bot/qa.js
Due: none

twitter-bot: extract and centralize translations from bot features
  sninterface-botkit/twitter-bot/bot.js
  sninterface-botkit/twitter-bot/botbuilder-adapter-twitter/src/twitter_adapter.ts
  sninterface-botkit/twitter-bot/features/dialogs_de/introduction.js
  sninterface-botkit/twitter-bot/features/dialogs_de/qa_dialog.js
  sninterface-botkit/twitter-bot/features/dialogs_en/introduction.js
  sninterface-botkit/twitter-bot/features/dialogs_en/qa_dialog_tweets.js
  sninterface-botkit/twitter-bot/features/introduction.js
  sninterface-botkit/twitter-bot/features/qa_dialog.js
  sninterface-botkit/twitter-bot/features/qa_dialog_tweets.js
  sninterface-botkit/twitter-bot/i18n/de.json
  sninterface-botkit/twitter-bot/i18n/en.json
  sninterface-botkit/twitter-bot/i18n/i18n.js
  sninterface-botkit/twitter-bot/qa.js
Due: none

add srcfiles, update dcat labels, add benchmark endpoint
  dcat-qa-system/src/data-sourcefiles/licences_dcat-ap.json
  dcat-qa-system/src/data-sourcefiles/licences_edp.json
  dcat-qa-system/src/data/dcat+labels.json
  dcat-qa-system/src/main/java/com/martenls/qasystem/controllers/QAController.java
  dcat-qa-system/src/main/resources/application.yml
Due: none

add more pruning of queries, move stopwords, indicators to json files
  dcat-qa-system/src/data/additionalPropertyIndicators.json
  dcat-qa-system/src/data/languages.json
  dcat-qa-system/src/data/stopwords.json
  dcat-qa-system/src/data/templates.txt
  dcat-qa-system/src/data/themes.json
  dcat-qa-system/src/main/java/com/martenls/qasystem/config/SemanticPropertyIndicators.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/config/Stopwords.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/models/Question.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/AdditionalPropertyIndicatorsProvider.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/StopwordsProvider.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/NLPAnnotator.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/OntologyPropertyRecognizer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/QueryBuilder.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/SemanticAnalyzer.java
  dcat-qa-system/src/main/resources/application.yml
  dcat-qa-system/src/test/java/com/martenls/qasystem/services/QAServiceTest.java
  dcat-qa-system/src/test/resources/application.yml
Due: none

fixed dockerfile of web/twitter bot
  sninterface-botkit/twitter-bot/Dockerfile
  sninterface-botkit/twitter-bot/version.txt
  sninterface-botkit/web-bot/Dockerfile
  sninterface-botkit/web-bot/version.txt
Due: build-sninterface-botkit-twitter-docker, build-sninterface-botkit-web-docker

qa: fix de nlp pipeline, web-bot: fix opal logo
  dcat-qa-system/src/main/java/com/martenls/qasystem/config/StanfordNLPConfig.java
  dcat-qa-system/version.txt
  sninterface-botkit/web-bot/public/img/OPAL_Logo.png
  sninterface-botkit/web-bot/public/index.html
  sninterface-botkit/web-bot/version.txt
Due: build-qasystem-docker, build-sninterface-botkit-web-docker

small adjustments for qa system
  dcat-qa-system/src/data/additionalPropertyIndicators.json
  dcat-qa-system/src/data/templates.txt
  dcat-qa-system/src/main/java/com/martenls/qasystem/controllers/QAController.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/QAService.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/SPARQLService.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/QueryBuilder.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/SemanticAnalyzer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/TimeEntityRecognizer.java
  dcat-qa-system/version.txt
  docker-compose.server.yml
Due: build-qasystem-docker

minor tweaks of the qa-system: sutime, dcat labels, language recognizer
  dcat-qa-system/src/data/dcat+labels.json
  dcat-qa-system/src/data/german.sutime.txt
  dcat-qa-system/src/main/java/com/martenls/qasystem/controllers/QAController.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/models/Question.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/FiletypeEntityRecognizer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/LanguageRecognizer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/SemanticAnalyzer.java
  dcat-qa-system/version.txt
Due: build-qasystem-docker

qa-system bug fixes
  dcat-qa-system/src/data/additionalPropertyIndicators.json
  dcat-qa-system/src/data/dcat+labels.json
  dcat-qa-system/src/data/templates.txt
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/SemanticAnalyzer.java
Due: none

up version
  dcat-qa-system/version.txt
Due: build-qasystem-docker

add missing de benchmark results
  qa-benchmark/benchmark_results_de.json
Due: none

update nginx readme
  nginx-config/README.md
Due: none

update env templates
  .env-templates/qa.env
  .env-templates/twitter.env
  .env-templates/web.env
Due: none

update sninterface
  sninterface-botkit/.dockerignore
  sninterface-botkit/.gitignore
  sninterface-botkit/readme.md
  sninterface-botkit/sample_features/quick_replies.js
  sninterface-botkit/sample_features/sample_echo.js
  sninterface-botkit/sample_features/sample_hears.js
  sninterface-botkit/sample_features/typing.js
  sninterface-botkit/twitter-bot/Dockerfile
  sninterface-botkit/twitter-bot/README.md
  sninterface-botkit/twitter-bot/docs/img/twitterbotdemodms.gif
  sninterface-botkit/twitter-bot/docs/img/twitterbotdemotweet.png
  sninterface-botkit/twitter-bot/features/qa_dialog.js
  sninterface-botkit/twitter-bot/package-lock.json
  sninterface-botkit/twitter-bot/package.json
  sninterface-botkit/twitter-bot/qa.js
  sninterface-botkit/twitter-bot/version.txt
  sninterface-botkit/version.txt
  sninterface-botkit/web-bot/README.md
  sninterface-botkit/web-bot/docs/img/webbotdemo.gif
  sninterface-botkit/web-bot/features/qa_dialog.js
  sninterface-botkit/web-bot/i18n/en.json
  sninterface-botkit/web-bot/qa.js
  sninterface-botkit/web-bot/version.txt
Due: build-sninterface-botkit-twitter-docker, build-sninterface-botkit-web-docker

update documentation and docker-compose files
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  docker-compose.server.yml
  docker-compose.yml
Due: none

fix ci jobs
  .gitlab-ci.yml
Due: none

update documentation
  README.md
  dcat-qa-system/README.md
  dcat-qa-system/docs/img/qa_process_example.png
  sninterface-botkit/twitter-bot/README.md
  sninterface-botkit/twitter-bot/docs/img/bot_overview.png
  sninterface-botkit/web-bot/README.md
  sninterface-botkit/web-bot/docs/img/bot_overview.png
Due: none

qa-sytem: add more comments and update readme
  dcat-qa-system/README.md
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/QAService.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/SPARQLService.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/StopwordsProvider.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/TemplateProvider.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/FrequencyEntityRecognizer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/LanguageEntityRecognizer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/LanguageRecognizer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/LicenseEntityRecognizer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/LocationEntityRecognizer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/NLPAnnotator.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/QueryBuilder.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/ResultSelector.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/SemanticAnalyzer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/TemplateSelector.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/ThemeEntityRecognizer.java
  dcat-qa-system/src/main/java/com/martenls/qasystem/services/annotators/TimeEntityRecognizer.java
Due: none

update readme and add twitter account creation info
  README.md
  docs/twitter-bot-account-creation.md
Due: none

remove old docs
  docs/Architecture Overview.drawio
  docs/TODO.md
Due: none

update documentation
  README.md
  docs/create-a-twitter-bot-account.md
  docs/twitter-bot-account-creation.md
Due: none

update readme and add thesis
  README.md
  thesis.pdf
Due: none

Create LICENSE
  LICENSE
Due: none

Path conditions:
  build-nginx-docker: any of: nginx-config/version.txt
  build-qasystem-docker: any of: dcat-qa-system/version.txt
  build-sninterface-botkit-twitter-docker: any of: sninterface-botkit/twitter-bot/version.txt
  build-sninterface-botkit-web-docker: any of: sninterface-botkit/web-bot/version.txt
