Repository projekt-opal/dcat-qa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-nginx-docker, build-twitter-docker

.gitlab-ci.yml:

stages:
  - build-docker


build-nginx-docker:
  stage: build-docker
  before_script:
    - cd nginx-config
    - docker login -u martenls -p $DOCKER_REGISTRY_TOKEN $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY/martenls/bachelor-thesis-code/nginx-openbot .
    - docker push $CI_REGISTRY/martenls/bachelor-thesis-code/nginx-openbot
  after_script:
    - docker logout
  tags:
    - shared
  only:
    changes:
      - nginx-config/**/*

build-twitter-docker:
  stage: build-docker
  before_script:
    - cd sninterface-twitter
    - docker login -u martenls -p $DOCKER_REGISTRY_TOKEN $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY/martenls/bachelor-thesis-code/sninterface-twitter .
    - docker push $CI_REGISTRY/martenls/bachelor-thesis-code/sninterface-twitter
  after_script:
    - docker logout
  tags:
    - shared
  only:
    changes:
      - sninterface-twitter/**/*

ci fix + added docker-compose file
  .gitlab-ci.yml
  docker-compose.yml
Due: none

added manual versioning for docker builds
  .gitlab-ci.yml
  nginx-config/version.txt
  sninterface-twitter/version.txt
Due: build-nginx-docker, build-twitter-docker

push docker images with version and latest tag
  .gitlab-ci.yml
Due: none

implemented a test qa-system and forwarding of questions from dms
  qa-system/.gitignore
  qa-system/pom.xml
  qa-system/src/main/java/com/martenls/qasystem/QaSystemApplication.java
  qa-system/src/main/java/com/martenls/qasystem/controllers/QAController.java
  qa-system/src/main/java/com/martenls/qasystem/dtos/Question.java
  qa-system/src/main/resources/application.properties
  qa-system/src/test/java/com/martenls/qasystem/QaSystemApplicationTests.java
  qa-system/version.txt
  sninterface-twitter/index.js
  sninterface-twitter/qa.js
  sninterface-twitter/twitterApi.js
Due: build-twitter-docker

added fuseki to reverse proxy and docker-compose
  docker-compose.yml
  nginx-config/Dockerfile
  nginx-config/nginxconfig.io/proxy.conf
  nginx-config/sites-available/openbot.cs.uni-padeborn.de.conf
  nginx-config/version.txt
Due: build-nginx-docker

docker-compose file fix
  docker-compose.yml
Due: none

nginx docker: switch back to non alpine base image
  nginx-config/Dockerfile
  nginx-config/version.txt
Due: build-nginx-docker

nginx reverse proxy fixed + sninterface env fix
  nginx-config/nginxconfig.io/general.conf
  nginx-config/nginxconfig.io/proxy.conf
  nginx-config/nginxconfig.io/security.conf
  nginx-config/sites-available/openbot.cs.uni-padeborn.de.conf
  sninterface-twitter/index.js
Due: build-nginx-docker, build-twitter-docker

upped nginx version
  nginx-config/version.txt
Due: build-nginx-docker

docker-compose: changed to offical jena-fuseki image
  docker-compose.yml
Due: none

add test qa-system w/ dockerfile + ci job
  .gitlab-ci.yml
  qa-system/Dockerfile
  qa-system/pom.xml
  qa-system/src/main/java/com/martenls/qasystem/QAService.java
  qa-system/src/main/java/com/martenls/qasystem/controllers/QAController.java
  qa-system/src/main/java/com/martenls/qasystem/dtos/Question.java
Due: none

fix gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix gitlab-ci.yml #2
  .gitlab-ci.yml
Due: none

fix gitlab-ci.yml #3
  .gitlab-ci.yml
Due: none

add architecture diagram
  Architecture Overview
Due: none

add botkit bots + dockerfiles, update nginx, ci jobs, update compose
  .gitlab-ci.yml
  docker-compose.yml
  nginx-config/sites-available/openbot.cs.uni-padeborn.de.conf
  nginx-config/version.txt
  sninterface-botkit/.dockerignore
  sninterface-botkit/common_features_de/greeting.js
  sninterface-botkit/common_features_de/opal.js
  sninterface-botkit/common_features_de/qa_dialog.js
  sninterface-botkit/package-lock.json
  sninterface-botkit/package.json
  sninterface-botkit/public/client.js
  sninterface-botkit/public/css/embed.css
  sninterface-botkit/public/css/embed.css.map
  sninterface-botkit/public/css/styles.css
  sninterface-botkit/public/css/styles.css.map
  sninterface-botkit/public/index.html
  sninterface-botkit/qa.js
  sninterface-botkit/sass/_botkit.scss
  sninterface-botkit/sass/_chat.scss
  sninterface-botkit/sass/_home.scss
  sninterface-botkit/sass/embed.scss
  sninterface-botkit/sass/styles.scss
  sninterface-botkit/twitter-bot.js
  sninterface-botkit/twitter.Dockerfile
  sninterface-botkit/version.txt
  sninterface-botkit/web-bot.js
  sninterface-botkit/web.Dockerfile
Due: build-nginx-docker

ci fix #1
  .gitlab-ci.yml
Due: none

ci fix #2
  .gitlab-ci.yml
Due: none

ci fix #3
  .gitlab-ci.yml
Due: none

update conversation + add en convs + remove feedback / tries
  nginx-config/sites-available/openbot.cs.uni-padeborn.de.conf
  nginx-config/version.txt
  sninterface-botkit/twitter-bot/bot.js
  sninterface-botkit/twitter-bot/botbuilder-adapter-twitter/src/twitter_adapter.ts
  sninterface-botkit/twitter-bot/features/dialogs_de/greeting.js
  sninterface-botkit/twitter-bot/features/dialogs_de/opal.js
  sninterface-botkit/twitter-bot/features/dialogs_de/qa_dialog.js
  sninterface-botkit/twitter-bot/features/dialogs_de/qa_dialog_tweets.js
  sninterface-botkit/twitter-bot/features/dialogs_en/greeting.js
  sninterface-botkit/twitter-bot/features/dialogs_en/opal.js
  sninterface-botkit/twitter-bot/features/dialogs_en/qa_dialog.js
  sninterface-botkit/twitter-bot/features/dialogs_en/qa_dialog_tweets.js
  sninterface-botkit/twitter-bot/package-lock.json
  sninterface-botkit/twitter-bot/package.json
  sninterface-botkit/twitter-bot/qa.js
  sninterface-botkit/twitter-bot/version.txt
  sninterface-botkit/version.txt
  sninterface-botkit/web-bot/bot.js
  sninterface-botkit/web-bot/features/dialogs_de/greeting.js
  sninterface-botkit/web-bot/features/dialogs_de/opal.js
  sninterface-botkit/web-bot/features/dialogs_en/greeting.js
  sninterface-botkit/web-bot/features/dialogs_en/opal.js
  sninterface-botkit/web-bot/features/dialogs_en/qa_dialog.js
  sninterface-botkit/web-bot/package-lock.json
  sninterface-botkit/web-bot/public/client.js
  sninterface-botkit/web-bot/public/index.html
  sninterface-botkit/web-bot/public/lib/handlebars.min.js
  sninterface-botkit/web-bot/public/lib/showdown.min.js
  sninterface-botkit/web-bot/version.txt
  sninterface-twitter/qa.js
Due: build-nginx-docker, build-twitter-docker

fix sni-twitter docker build
  sninterface-botkit/twitter-bot/Dockerfile
  sninterface-botkit/twitter-bot/botbuilder-adapter-twitter/package-lock.json
  sninterface-botkit/twitter-bot/botbuilder-adapter-twitter/package.json
  sninterface-botkit/twitter-bot/version.txt
Due: none

add elastic search container
  docker-compose.yml
  nginx-config/sites-available/openbot.cs.uni-padeborn.de.conf
  nginx-config/version.txt
Due: build-nginx-docker

add missing pom update
  qa-system/pom.xml
Due: none

first working version of qa-system
  qa-system/pom.xml
  qa-system/src/main/java/com/martenls/qasystem/CLRunner.java
  qa-system/src/main/java/com/martenls/qasystem/controllers/QAController.java
  qa-system/src/main/java/com/martenls/qasystem/models/Query.java
  qa-system/src/main/java/com/martenls/qasystem/models/Question.java
  qa-system/src/main/java/com/martenls/qasystem/models/Template.java
  qa-system/src/main/java/com/martenls/qasystem/models/TemplateRated.java
  qa-system/src/main/java/com/martenls/qasystem/services/QAService.java
  qa-system/src/main/java/com/martenls/qasystem/services/SPARQLService.java
  qa-system/src/main/java/com/martenls/qasystem/services/TemplateProvider.java
  qa-system/src/main/java/com/martenls/qasystem/services/TemplateSelector.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/LocationEntityRecognizer.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/QueryBuilder.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/ResultSelector.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/SemanticAnalyzer.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/SemanticPropertyIndicatorsEn.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/TemplateSelector.java
  qa-system/src/main/java/com/martenls/qasystem/utlis/Combinatorics.java
  qa-system/src/main/resources/templates.txt
Due: none

add support for string literals + query building improvements
  qa-system/src/main/java/com/martenls/qasystem/models/Question.java
  qa-system/src/main/java/com/martenls/qasystem/models/Template.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/LocationEntityRecognizer.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/OntologyRecognizer.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/QueryBuilder.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/ResultSelector.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/SemanticAnalyzer.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/TemplateSelector.java
  qa-system/src/main/java/com/martenls/qasystem/utlis/SPARQL.java
  qa-system/src/main/resources/dcat2+german-labels.rdf
  qa-system/src/main/resources/templates.txt
Due: none

upped version 0.1 -> 0.2
  qa-system/version.txt
Due: none

bugfix: add post mapping to controller
  qa-system/src/main/java/com/martenls/qasystem/controllers/QAController.java
  qa-system/version.txt
Due: none

bugfix: deserilization for post mapping
  qa-system/src/main/java/com/martenls/qasystem/models/Question.java
  qa-system/version.txt
Due: none

upp version
  qa-system/version.txt
Due: none

update docs
  Architecture Overview
  README.md
  TODO.md
  docs/Architecture Overview.drawio
  docs/TODO.md
  docs/img/botkit_icon.png
  docs/img/twitter_create_app.png
  docs/img/twitter_create_app_form1.png
  docs/img/twitter_create_app_form2.png
  docs/img/twitter_dev_acc_apply.png
  docs/img/twitter_dev_env.png
  docs/img/twitter_permissions.png
  docs/img/twitter_tokens.png
  docs/twitter-bot-account.md
  qa-system/README.md
  sninterface-botkit/readme.md
  sninterface-botkit/web-bot/readme.md
Due: none

remove old twitter interface app
  sninterface-twitter/.dockerignore
  sninterface-twitter/.gitignore
  sninterface-twitter/.twitter.gitlab-ci.yml
  sninterface-twitter/Dockerfile
  sninterface-twitter/index.js
  sninterface-twitter/package-lock.json
  sninterface-twitter/package.json
  sninterface-twitter/qa.js
  sninterface-twitter/twitterApi.js
  sninterface-twitter/version.txt
Due: build-twitter-docker

add .env templates
  .env-templates/qa.env
  .env-templates/twitter.env
  .env-templates/web.env
Due: none

update sninterface apps
  sninterface-botkit/qa.js
  sninterface-botkit/twitter-bot/features/dialogs_de/qa_dialog.js
  sninterface-botkit/twitter-bot/features/dialogs_de/qa_dialog_tweets.js
  sninterface-botkit/twitter-bot/features/dialogs_en/qa_dialog.js
  sninterface-botkit/twitter-bot/features/dialogs_en/qa_dialog_tweets.js
  sninterface-botkit/twitter-bot/package-lock.json
  sninterface-botkit/twitter-bot/package.json
  sninterface-botkit/twitter-bot/qa.js
  sninterface-botkit/twitter-bot/version.txt
  sninterface-botkit/web-bot/bot.js
  sninterface-botkit/web-bot/features/dialogs_de/qa_dialog.js
  sninterface-botkit/web-bot/features/dialogs_en/qa_dialog.js
  sninterface-botkit/web-bot/features/websocket_features.js
  sninterface-botkit/web-bot/package-lock.json
  sninterface-botkit/web-bot/package.json
  sninterface-botkit/web-bot/public/client.js
  sninterface-botkit/web-bot/qa.js
  sninterface-botkit/web-bot/version.txt
Due: none

qa-system: smaller fixes
  qa-system/src/main/java/com/martenls/qasystem/CLRunner.java
  qa-system/src/main/java/com/martenls/qasystem/controllers/QAController.java
  qa-system/src/main/java/com/martenls/qasystem/services/QAService.java
  qa-system/src/main/java/com/martenls/qasystem/services/SPARQLService.java
  qa-system/src/main/java/com/martenls/qasystem/services/annotators/ResultSelector.java
  qa-system/src/main/java/com/martenls/qasystem/utlis/Combinatorics.java
  qa-system/src/main/java/com/martenls/qasystem/utlis/SPARQLUtils.java
  qa-system/src/main/resources/application.yml
Due: none

update compose files
  .vscode/launch.json
  docker-compose.local.yml
  docker-compose.server.yml
Due: none
